<html>
<head>
  <title><%= pageTitle %></title>
</head>
<body>
  <%- include layouts/menubar %>
  <h1>HOME</h1>
  <a href="/teachers">Teacher</a>
  <a href="/subjects">Subject</a>
  <a href="/students">Student</a>
</body>
</html>
