<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= pageTitle %></title>
  </head>
  <body>
    <%- include layouts/menubar %>
    <div class="container">
      <form action="/login" method="post">
        <input type="text" name="username" placeholder="Input Your User Name">
        <input type="password" name="password" placeholder="Input Your Password">
        <input type="submit" value="Submit">
      </form>
      <br>
      <div class="card">
        <div class="card-content">
          <p>[Sample Login Data]</p>
          <br>
          <p>Role: </p>
        </div>
        <div class="card-tabs">
          <ul class="tabs tabs-fixed-width">
            <li class="tab"><a href="#role1">Teacher</a></li>
            <li class="tab"><a href="#role2">Academic</a></li>
            <li class="tab"><a href="#role3">Headmaster</a></li>
          </ul>
        </div>
        <div class="card-content grey lighten-4">
          <div id="role1">
            <p>Username: hacktiv8</p>
            <p>Password: hacktiv8</p>
          </div>
          <div id="role2">
            <p>Username: madara</p>
            <p>Password: madara</p>
          </div>
          <div id="role3">
            <p>Username: benz</p>
            <p>Password: benz</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
