<html>
<head>
  <title><%= pageTitle %></title>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.6/sweetalert2.css">
</head>
<body>
  <%- include layouts/menubar %>
  <form action="/teachers/add" method="post">
    <input type="text" name="first_name" placeholder="Input Your First Name">
    <input type="text" name="last_name" placeholder="Input Your Last Name">
    <input type="text" name="email" placeholder="Input Your Email">
    <input type="submit" value="Submit">
  </form>
</body>
</html>
