<html>
<head>
  <title>Hiksuu</title>
</head>
<body>
  <table border="1 px solid black">
    <% datas.forEach(data => { %>
    <tr>
      <th><%= data.first_name %></th>
      <th><%= data.last_name %></th>
    </th>
    <% }) %>
  </table>
</body>
</html>
